@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition-property: opacity, background, transform, filter;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}

.page-transition {
  opacity: 0;
  background: #000;
  transform: translateY(100px);
  filter: blur(16px);
}
@layer base {
button {
  @apply transition-button duration-button ease-button;
  &:hover {
  @apply bg-gradient-to-r from-teal-500 to-blue-500;
  }
  &:focus {
    @apply ring-2 ring-blue-500;
  }
}

}
/* html h1 {
  font-family: "Teko",  sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
nav ul li a {
  border-bottom: 0px solid transparent;
  font-size: 1.5rem;
}
nav ul li a:hover {
  border-bottom: 2px solid #fff;
  transition: border-bottom  500ms ease-in-out;
}