@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition-property: opacity, background, transform, filter;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.page-transition {
  opacity: 0;
  background: #000;
  transform: translateY(100px);
  filter: blur(16px);
}
@layer base {
  /* html {
    font-family: "Raleway", sans-serif;
  } */

}
/* html h1 {
  font-family: "Teko",  sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
nav ul li a {
  border-bottom: 0px solid transparent;
}
nav ul li a:hover {
  border-bottom: 2px solid #fff;
  transition: border-bottom  500ms ease-in-out;
}